.navBar {
    position: fixed; /* Stick to the top of the viewport */
    top: 0; /* Align at the top */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: #8b0000;
    color: #df944f;
    padding: 0.5% 8%;
    align-items: center;
    z-index: 1000;
    margin-bottom: 40px;
    
}

.button {
    height: 3rem;
    width: 8rem;
    font-size: medium;
    font-weight: 550;
    background: #df944f;
    color: #472200;
    border: #df944f;
    border-radius: 0.5rem;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0.1% 0.1%;
}

.button:hover {
    background-color: #cf7f33;
    cursor: pointer;
}

.button:active {
    background-color: #9e5d21;
}