.container {
  margin-top: 80px;
  max-width: 1700px;
}

.custom-card, .card {
  width: 450px !important; 
  color: #00000098;
}
.custom-card{
font-size: 20px;
font-weight: bold;
}

.user-image img {
  max-width: 10px;
  max-height: 10px;
}

.user-details h2 {
  font-size: 24px;
  margin: 10px 0;
}

.user-details p {
  font-size: 16px;
  margin: 5px 0;
}

 .icon-box.medium {
     font-size: 20px;
     width: 50px;
     height: 50px;
     line-height: 50px;
     color: #ffffff;

 }
 .bio-details-title {
  font-size: 28px;
  background-color: #f0f0f0;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px; 
  display: inline-block;
}

 .card-sub-set{
  margin-top: 10px;
 }
 .icon-box {
     font-size: 30px;
     margin-bottom: 33px;
     display: inline-block;
     color: #ffffff;
     height: 65px;
     width: 65px;
     line-height: 65px;
     background-color: #8b0000;
     text-align: center;
     border-radius: 0.3rem;
 }

 .rounded-3 {
     border-radius: 0.3rem !important;
 }
 
 .display-25 {
     font-size: 1.4rem;
 }
 
 .text-primary, .text-primary-hover:hover {
     color: #ffffff !important;
 }
 
 p {
     margin: 0 0 20px;
 }
 
 .mb-1-6, .my-1-6 {
     margin-bottom: 1.6rem;
 }

 .bio-title  {
  border: 2px solid #0000002d; 
  padding-top: 10px; 
  padding-left: 20px; 
  background-color: #8b0000;
}

 table {
  border-collapse: collapse;
  color: #000000a9;
  width: 100%;
    font-size: 18px; 
  }

th, td {
  padding: 4px;
  text-align: left;
  border-bottom: 1px solid #ddd; 
}

th {
  height: 50px; 
}